.override{
    background-color: orange;
}

.social-sidebar-content {
    background-color: black;
}


.social-sidebar-content:hover{
    background-color: white;

}

.fc-bg{
    background-color: blue;
}

.fc-bg, p{
    text-indent: -9999px;     line-height: 0; } 
.fc-bg, a::after { 
    content: "IIM"; text-indent: 0; display: block; line-height: initial; font-size: medium; 
}


.fc-content{
    color: brown;
}

p, h1{
    color: blue;
}

.user-settings{
    display: block;
}

.container-fluid{
    color: blue;
    background-color: orange
}

.alert-info, p {
text-indent: -9999px;     line-height: 0; } 
.alert-info, p::after { 
        content: "BIENVENUE DANS NOTRE POLE"; text-indent: 0; display: block; line-height: initial; font-size: large; 
    }
.text-right{
    display: none;
}

.nav-messages-header{
text-indent: -9999px;     line-height: 0; } 
.nav-messages-header::after { 
    content: "Je suis désolé mais il y'a rien"; text-indent: 0; display: block; line-height: initial; font-size: larger; 
}


.nav-messages-footer{
    text-indent: -9999px;     line-height: 0; } 
.nav-messages-footer::after { 
    content: "Je suis désolé mais il y'a toujours rien"; text-indent: 0; display: block; line-height: initial; font-size: medium; 
}
